@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
    overflow: hidden;
}

.container {
    min-height: 100vh;
    background-color: #7396BF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    width: 75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-image img {
    width: 500px;
    position: relative;
    z-index: 10;
} 

.banner-image {
    width: 45%;
    display: flex;
    justify-content: center;
}

.yellow-circle {
    background-color: #FFE606;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    position: absolute;
    transform: translate(-450px, -150px);
}

.purple-circle {
    background-color: #C86BF5;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: absolute;
    transform: translate(-150px, 330px);
}

.login-form {
    width: 55%;
    background-color: #ffffff;
    height: 85vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.input-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-form h1 {
    font-size: 2em;
    font-weight: 800;
    color: #10405a;
    margin-bottom: 20px;
}

.input-form label {
    font-size: 1.5em;
    font-weight: 800;
    color: #10405a;
}

.input-form .input-form-input {
    border: black solid 1px;
    background-color: #ffffff;
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.input-form .input-form-input input {
    background-color: #ffffff;
    border: none;
    outline: none;
    width: 400px;
    font-size: 1.1em;
}

.btn-form button{
    width: 247px;
    height: 40px;
    background-color: #7396BF;
    border: none;
    color: #ffffff;
    border-radius: 10px;
    font-size: 1em;
    font-weight: 700;
    margin-block: 15px;
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {
    .banner {
        flex-direction: column;
    }
    .login-form {
        width: 95%;
    }
    .banner-image {
        display: none;
    }
}

@media only screen and (max-width: 524px) {
    .input-form{
        width: 100%;
        padding-inline: 10px;
    }
    .input-form .input-form-input {
        width: 100%;
    }
    .input-form .input-form-input input {
        width: 100%;
    }
    .login-form {
        text-align: center;
    }
    .btn-form button{
        margin-block: 5px;
    }
}
