@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Figtree', sans-serif;
  overflow: auto;
}

.container {
  background-color: #7396BF;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper h1 {
  font-size: 2em;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 10px;
}

.input-login {
  display: flex;
  flex-direction: column;
}

.input-login label {
  font-size: 1.5em;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 10px;
}

.input-login input {
  outline: none;
  width: 500px;
  height: 50px;
  border: none;
  padding-inline: 10px;
  font-size: 1.2em;
  margin-bottom: 20px;
  border-radius: 10px;
}

.input-check label{
  font-size: 1.2em;
  font-weight: 600;
  color: #ffffff;
  margin-left: 10px;
}

.footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-wrapper {
  width: 75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-wrapper p {
  font-size: 1.1em;
}

.footer-wrapper p span {
  cursor: pointer;
  transition: 0.3s;
}

.footer-wrapper p span:hover {
  color: rgb(59 130 246);
}

.footer-wrapper button {
  padding: 10px;
  padding-inline: 30px;
  background-color: #7396BF;
  color: #ffffff;
  border: none;
  font-size: 1em;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
}

@media only screen and (max-width: 524px) {
  .wrapper {
    width: 100%;
  }
  form {
    width: 100%;
  }
  .input-login{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .input-login input {
    width: 95%;
  }
  .input-check {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}